[Unit]
Description=YouTube Transcript Summarizer Timer

[Timer]
# Run daily at midnight (00:00)
OnCalendar=daily
OnCalendar=*-*-* 00:00:00
Persistent=true
Unit=ytsum@%u.service

[Install]
WantedBy=timers.target
